body{ 
 background-color: black; 
}

@media screen and (min-width: 1000px),(orientation: landscape),(min-aspect-ratio: 16/9){ }
@media (max-width: 600px) { 
    .section { width: 100%; } 
  }

h2 {font-family: 'Rowdies', cursive; }
.titre {font-family: 'IM Fell English SC', serif;}
h2 {font-family: 'Rowdies', cursive; }

/*début hero*/
.titre {
  font-family: 'IM Fell English SC', serif;
}
.hero  {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
} 
@media screen and (orientation: landscape) { 
  .hero{
    height: 56.25vw;
  } 
}
 .hero .heropic{
  height: 100%;  
  width: 100vh;
  background-size: auto
  
}
.heropic img{
 
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 45% 0%;
}
.heropic source{
  position: relative;
  width: 100%;
  object-fit: cover;
  display:block;
}
.coverHero {
  position: absolute;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), var(--lightRed));
  opacity: 70%;
  height: 100%;
  width: 100%;
}
.textHero {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}
/*.btn-info{
  background-color:#a4161a;
}*/
/*Fin section hero */


/*Début navigation*/
.navbar{
background-color: rgb(2, 2, 2);
}
/*Fin navigation*/


/*Début footer*/
footer { 
 padding:20px;
  margin-top:20px; 
  background-color:#b1a7a6;
}
 /*.btn {

   color: black;
 }

 .btn:hover{
  background-color:#f5f3f4;
  color: rgb(110, 110, 110);
}*/
/*fin footer*/
