@media screen and (min-width: 1000px) { 
    body { background: rgba(9, 11, 20, 0.986); }
  }
  


 h2 {font-family: 'Rowdies', cursive; }

.titre {font-family: 'IM Fell English SC', serif;}

.hero {
  overflow: hidden;
  width: 100%;
  @media screen (orientation: landscape) {
    height: 56.25%;
  }
}
.heropic{
  height: 100%;  width: 100vh;
}
.heropic img{
  object-fit: cover;
}
.heropic source{
  width: 100%;
  object-fit: cover;
}

.coverHero {
  position: absolute;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), var(--greenBlue));
  height: 100%;
  width: 100%;
}
.textHero {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}