body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
}
.hero {
  width: 100vw;
  position: relative;
  background-color: black;
}
.swiper {
  position: relative;
}
.swiper img {
  height: 100%;
  width: 100%;
}
img {
  width: 100%;
  object-fit: contain;
}
.heroPicture {
  width: 100vw;
  height: 100vh;
}

.hero .row {
  height: 100%;
}
.hero .container-fluid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.coverHero {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), var(--darkRed));
  width: 100%;
  z-index: 2;
}
.modal img {
  width: 300px;
  margin: auto;
}
.textHero {
  margin: 10px;
}
button {
  font-family: var(--textNormal);
  border: none;
  padding: 10px 30px;
}

.navbar {
  background-color: var(--mediumRed);
}
.logo {
  width: 50px;
}
footer {
  padding: 20px;
  background-color: var(--darkGrey);
  margin: 20px 0px 0px 0px;
}
main {
  margin: 20px 0px;
}
main .card {
  margin: 20px 0px;
}
.nom {
  display: block;
  text-decoration: none;
  color: var(--darkgrey);
}
.nom:hover {
  color: var(--mediumRed);
}
.video-ratio {
  aspect-ratio: 16/9;
}
@supports not (aspect-ratio: 16/9) {
  .video-ratio::before {
    float: left;
    padding-top: 56.25%;
    content: "";
  }
  .video-ratio::after {
    display: block;
    content: "";
    clear: both;
  }
}
#anim {
  padding: 0 0 0 0;
}
.video_ {
  aspect-ratio: 16/9;
  width: 100%;
}
.test {
  position: block;
}
h2:nth-last-child(1) {
  color: var(--lightRed);
}
.card-header {
  background-color: var(--lightRed);
  color: white;
}
.bat {
  width: 400px;
  height: 400px;
  background-image: url(../img/spritesheet_bat_idle.png);
  animation-duration: 1s;
  animation-name: idle;
  animation-iteration-count: infinite;
  animation-timing-function: steps(24);
}
@keyframes idle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -9840px;
  }
}
.up {
  width: 400px;
  height: 400px;
  background-image: url(../img/spritesheet_bat_up.png);
  animation-name: up;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(24);
}
@keyframes up {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -9840px;
  }
}
.down {
  width: 400px;
  height: 400px;
  background-image: url(../img/spritesheet_bat_down.png);
  animation-name: down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(24);
}
@keyframes down {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -9840px;
  }
}
.paroles {
  padding: 20px 60px;
  background-color: white;
}
.section_parole {
  padding: 5px 10px;
  background-color: var(--lightRed);
  color: white;
}
.paroleRechercheBkg {
  background-color: white;
  border: var(--lightRed) solid;
  border-radius: 5px;
}
