body {
  box-sizing: border-box;
  background-color: var(--darkDark);
  width: 100vw;
}
.hero {
  width: 100vw;
  position: relative;
}
@media screen and (orientation: landscape) {
  .hero {
    height: 56.25vw;
  }
}
picture {
  position: relative;
}
picture img {
  height: 100%;
  width: 100%;
}
img {
  width: 100%;
  object-fit: contain;
}
.heroPicture {
  width: 100vw;
  height: 100vh;
}

.hero .row {
  height: 100%;
}
.hero .container-fluid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.coverHero {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), var(--darkRed));
  width: 100%;
  z-index: 2;
}
.textHero {
  margin: 10px;
}
button {
  font-family: var(--textNormal);
  border: none;
  padding: 10px 30px;
}

.navbar {
  background-color: var(--mediumRed);
}
.logo {
  width: 10%;
}
footer {
  padding: 20px;
  background-color: var(--darkGrey);
  margin: 20px 0px 0px 0px;
}
main {
  margin: 20px 0px;
}
main .card {
  margin: 20px 0px;
}
.nom {
  display: block;
  text-decoration: none;
  color: var(--darkgrey);
}
.nom:hover {
  color: var(--mediumRed);
}
