@media screen and (orientation: landscape) {
  .hero {
    position: relative;
    width: 100%;
    height: 56.25vw;
  }
}
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 45% 0%;
}

.contraste {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: darkred;
  opacity: 20%;
}

.hero .container-fluid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero .row {
  height: 100%;
  color: white;
}

.title {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.btn_more {
  position: absolute;
  background-color: #f44336;
  border-radius: 500px;
  opacity: 85%;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 10px;
  left: 46%;
}

.btn_more {
  background-color: darkred;
  color: white;
  border: 2px solid white;
}

.btn_more:hover {
  background-color: #f44336;
  color: white;
}

.navbar {
  background-color: var(--lightDark);
}

.logo {
  width: 50px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  background-color: var(--darkGrey);
}
