
@media screen and (min-width: 1000px){
    header{ height:  56.25%;}
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero_picture {
    width: 100%;
    height: 100%;
}

.contraste {
position: absolute;
  top: 0;
  background-color: darkred;
  height: 100%;
  width: 100%;
  opacity: 20%;
}

.title{
    position: absolute;
    font-size: 450px;
    color:white;
    left:20%;
    top:40%;
}

.nav {
    position: absolute;
    top: 0;
}

.btn_more {
    position: absolute;
    background-color: #f44336; 
  border-radius: 500px;
  opacity: 85%;
  padding: 15px 300px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 80px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
    top:58%;
    left:43%;
    
}

.btn_more {
    background-color: #f44336; 
    color: white; 
    border: 2px solid white;
  }
  
  .btn_more:hover {
    background-color: #f44336;
    color: white;
  }
  