@font-face {
  font-family: "fontStyle";
  src: url("/font/TheMedic-Regular.ttf") format("truetype");
  src: url("/font/TheMedic-Regular.otf") format("opentype");
  src: url("/font/TheMedic-Regular.woff2") format("woff2");
  src: url("/font/RiseUp-ngxJ.ttf") format("truetype");
}

:root {
  --darkDark: #0b090a;
  --lightDark: #161a1d;
  --darkRed: #66072f;
  --mediumDarkRed: #a41635;
  --mediumRed: #ba1849;
  --lightRed:#e53855;
  --darkGrey:#b1a7a6;
  --mediumgrey:#d3d3d3;
  --lightgrey:#f5f3f4;
  --textnormal:font-family: "Sorts Mill Goudy", serif;
  --textstyle:font-family: "fontStyle";
}

body{
  font-size: 20px;
  background-color: var(--lightgrey); 
}
body h1{
  font-family: var(--textstyle);
  color: var(--lightgrey);
  font-size: 25px;
}
body h2{
  font-family: var(--textnormal);
  color: var(--mediumgrey);
  font-size: 20px;
}
body h3{
  font-family: var(--textnormal);
  color: var(--mediumgrey);
  font-size: 20px;
}

