:root {
  --Blackblue: #0c1618;
  --greenBlue: #004643;
  --milk: #faf4d3;
  --gold: #d1ac00;
  --pink: #f6be9a;
  --textnormal:font-family: "Sorts Mill Goudy", serif;;
}
/*
https://www.dafont.com/forum/read/392058/bring-me-the-horizon-2019-font
*/
